.app {
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-logo {
  height: 40vh;
  pointer-events: none;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: var(--ts-unit);
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
